<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053363575171-0pvij8ujadf93i2d9ek2hi6i7bondnkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053363575171-0pvij8ujadf93i2d9ek2hi6i7bondnkc</string>
	<key>API_KEY</key>
	<string>AIzaSyA1OFYFqkglmJFHb5D9UPu04n-GOpDz1Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>1053363575171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.byron.FlowPomodoro</string>
	<key>PROJECT_ID</key>
	<string>flowpomodoro-6069c</string>
	<key>STORAGE_BUCKET</key>
	<string>flowpomodoro-6069c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053363575171:ios:b3c685f08885d1f89ffeb6</string>
	<key>DATABASE_URL</key>
	<string>https://flowpomodoro-6069c.firebaseio.com</string>
</dict>
</plist>